*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #041F46;
}
nav a {
  color: #dbd3c9 !important;
}
nav .shop-logo {
  font-size: 30px;
  font-weight: bolder;
  color: #FFA101 !important;
  text-decoration: none;
}

body {
  background-color: #FFA101;
}

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.carousel .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.carousel .slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel .slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.carousel button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.carousel button:hover, .carousel button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel button:focus {
  outline: 1px black solid;
}
.carousel .prev-button {
  left: 1rem;
}
.carousel .next-button {
  right: 2rem;
}
.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.big-container {
  padding: 0 2rem;
}
.big-container .page-title {
  padding: 0 3.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
.big-container .page-title h1 {
  background-color: #041F46;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  margin: 0;
  color: #FFA101;
  font-weight: bolder;
  letter-spacing: 5px;
}
.big-container .wrapper-container {
  padding: 1rem;
}
.big-container .wrapper-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}
.big-container .wrapper-container ul .item-container {
  width: 30%;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
  background-color: #041F46;
}
.big-container .wrapper-container ul .item-container .item-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.big-container .wrapper-container ul .item-container .item-wrapper .image-container {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.big-container .wrapper-container ul .item-container .item-wrapper p {
  font-weight: bold;
  margin: 0;
  color: #dbd3c9;
}
.big-container .wrapper-container ul .item-container .item-wrapper img {
  width: 50%;
  height: auto;
  align-self: center;
}
.big-container .goto-button {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
}
.big-container .goto-button button {
  padding: 0.5rem 2rem;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #041F46;
}
.big-container .goto-button button a {
  font-size: 30px;
  font-weight: bolder;
  color: #FFA101;
  text-decoration: none;
}
.big-container .goto-button button a:hover {
  color: #dbd3c9;
}

/*# sourceMappingURL=home.css.map */
