<nav class="navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LOGO</a>
    <ul class="navbar-nav ms-auto">
      <% if (page == "register") { %>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <% } %>
      <% if (page == "login") { %>
      <li class="nav-item">
        <a class="nav-link" href="/auth/register">Register</a>
      </li>
      <% } %>
      <% if (page == "home") { %>
        <li class="nav-item"><a class="nav-link" href="/">Welcome, <strong><%= user.name %></strong>!</a></li>
      <% } %>
      <% if (page !== "register" && page !== "login" && page !== "home") { %>
        <li class="nav-item"><a class="nav-link" href="/"><strong><%= user.name %></strong></a></li>
      <% } %> 
      <% if (page !== "register" && page !== "login") { %>
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
      <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
      <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
      <% } %> 
    </ul>
  </div>
</nav>