<nav class="navbar navbar-expand navbar-light bg-light"></nav>
    <a class="navbar-brand" href="/">HOME</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/register">Register</a>
      </li>
    </ul>
  </nav>