@import "./_variables";

nav {
  background-color: $secondary-color;
  a {
    color: $primary-color !important;
  }
  .shop-logo {
    font-size: 30px;
    font-weight: bolder;
    color: $primary-color !important;
    text-decoration: none;
  }
  
}
