nav {
  background-color: #041f46;
  a {
    color: #dbd3c9 !important;
  }
  .shop-logo {
    font-size: 30px;
    font-weight: bolder;
    color: #ffa101 !important;
    text-decoration: none;
  }
}
