@import "./navbar";
@import "./base";
  
  main {
    width: 90vw;
    height: 90vh;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
  }
  
  #form {
    width: 400px;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    background-color: white;
  }

  button {
    background-color: $secondary-color !important;
    color: $primary-color !important;

    &:hover {
      background-color: $tertiary-color !important;
    }
  }